# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors
Chris Nehren <apeiron@cpan.org> <c.nehren@shadowcat.co.uk>
Chris Nehren <apeiron@cpan.org> <cnehren@gmail.com>
Jeffrey Kegler <jeffreykegler@jeffreykegler.com> <jeffreykegler@Jeffrey-Keglers-Computer.local>
Martin Becker <mhasch@cpan.org> <becker-github@cozap.com>
Shlomi Fish <shlomif@iglu.org.il> <shlomif@shlomifish.org>
